<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Forn nhập thông tin của người dùng</h1>
    <form action="http://localhost:8081/process_get" method="GET">
        <label for="">Nhập tên của bạn vào nhá</label> <br>
        <input type="text" name="fullname" id="" placeholder="Nhập tên dầy đủ của bạn vào nhá"> <br>
        <label for="">Nhập sdt vào nhá</label> <br>
        <input type="text" name="sdt" id="" placeholder="Nhập số điện thoại vào nhá"> <br>
        <label for="">Nhập email</label> <br>
        <input type="text" name="email" placeholder="Nhập email vào nhá" id=""> <br>
        <input type="submit" name="Submit" id="">
    </form>
</body>

</html>