<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lấy danh sách các bạn nhá</h1>
    <form action="http://localhost:8081/getList" method="get">
        <label for="">Nhập tên của bạn vào</label> <br>
        <input type="text" name="firstname" id=""> <br>
        <label for="">Nhập email vào nhá</label> <br>
        <input type="text" name="email" id=""> <br>
        <label for=""></label> <br>
        <input type="submit" value="Submit" name="" id="">
    </form>
</body>

</html>